[date-picker] .now {
	background: transparent !important;
	color: #333 !important;
}

[date-picker] .now.active, 
[date-picker] .active:hover {
	background-color: #04c !important;
	color: #fff !important;
}

.date-range .date-picker-date-time {
	padding: 10px;
	background-color: #eee;
	border: 1px solid #999;
	margin: 5px;
}
#pickerRange {
	margin: 0 auto 10px;
	display: inline-block;
}
.port-separator {
	padding-left: 0px;
	padding-right: 5px;
}
.port-separator.last {
	display: none;
}
.port-box {
	background-color: #ccc;
	border-radius: 2px;
	display: inline-block;
	padding: 2px 6px;
	margin: 1px 0;
	text-shadow: 0px 1px 0px #fff;
	font-size: 11px;
}
.port-box span {
	color: #666; 
}
.daterange-box {
	margin-right: 20px;
}
.list-group-item-heading {
	margin-bottom: 0;
}

.transshipment-optionwrap {
	margin-bottom: 20px;
}
.transshipment-optionbox {
	padding: 10px;
	background-color: #eee;
	border-radius: 4px;
	border: 1px solid #ddd;
}
.transshipment-optionbox .alert-danger {
	margin-top: 10px;
	padding: 10px;
}

.transship-box {
	display: inline-block;
    vertical-align: middle;
}
.transship-label {
	display: inline-block;
	margin-bottom: 3px;
	vertical-align: middle;
}
.transship-label strong {
    font-size: 15px;
    display: block;
    margin-bottom: 2px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 2px;
    text-align: center;
}
.transship-box .port-separator {
	vertical-align: middle;
    display: inline-block;
}